<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Bus Tracking System</title>
    <link rel="icon" href="images/delivery.png">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-header">
            <h1>College Bus Tracking</h1>
            <nav>
                <a href="/login">
                    <button id="trackBtn">Track Bus</button>
                </a>
            </nav>
        </div>
    </header>
    <main>
        <section class="intro">
            <h2>Track Your Bus in Real-Time</h2>
            <h3>Experience the convenience of live bus tracking, estimated arrival times, and notifications when your bus is nearby.</h3>
        </section>
        <section class="features">
            <div class="feature">
                <h3>Live Bus Tracking</h3>
                <img src="/images/location.png" alt="live-tracking">
                <p>View your bus’s real-time location on the map.</p>
            </div>
            <div class="feature">
                <h3>Perimeter Reminder</h3>
                <img src="/images/bell.png" alt="Reminder">
                <p>Get notified when your bus is near your pickup point.</p>
            </div>
            <div class="feature">
                <h3>Estimated Time</h3>
                <img src="/images/arrival-time.png" alt="Estimated Arrival Time">
                <p>Know exactly when your bus will arrive.</p>
            </div>
        </section>
        <section id="map">
            <h2>Live Map Placeholder</h2>
            <p>Map integration with Google Maps or Mapbox will appear here.</p>
        </section>
    </main>
</body>
<footer>
    <p>© 2025 College Bus Tracking System by Team Sakura 2nd year CSE-D</p>
</footer>
</html>
